<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
#login{
  text-decoration:none;
  color:white;
  /*padding-left: 10px;*/
}
#nav{
  padding-right: 50px;
}
#allRight{
  padding-top: 10px;
}
#h3{
  color: black;
}
#dropdown{
  padding-right: 20px;
}
p{
  width: 80%;
}

tr > * { /*headers & table elements*/
  text-align: center;
}

</style>
<head>
	<title>Show Rooms</title>
</head>
<body>
  <nav class="navbar navbar-inverse bg-inverse" id="nav">
    <a class="navbar-brand" id="header" href="/">eForest</a>
    <div id="allRight">
    <ul class="nav navbar-nav navbar-right" id="login" >
      <button class="btn btn-success"><a href="/" id="login">Home</a></button>
    </ul>
  </nav>
  <div class="container">
    <h3>
      <span><center>Room Allocations</center></span>
      <a href="/export">
        <button class="btn btn-warning pull-right">Export</button>
      </a>
    </h3>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Room</th>
          <th scope="col">Day</th>
          <th scope="col">Class</th>
          <th scope="col">Period</th>
        </tr>
      </thead>
      <tbody>
        {% for room in roomAvailList %}
          {% for day in roomAvailList[room] %}
            {% for period in roomAvailList[room][day] %}
              <tr>
                <td>{{room}}</td>
                <td>{{day}}</td>
                <td>{{period[0]}}</td>
                <td>{{period[1]}}-{{period[2]}}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</body>
</html>
