<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
#login{
  text-decoration:none;
  color:white;
  /*padding-left: 10px;*/
}
#nav{
  padding-right: 50px;
}
#allRight{
  padding-top: 10px;
}
#h3{
  color: black;
}
#dropdown{
  padding-right: 20px;
}
p{
  padding-left: 100px;
  padding-right: 100px;
}
</style>
<head>
	<title>ShowRooms</title>
</head>
<body>
  <nav class="navbar navbar-inverse bg-inverse" id="nav">
    <a class="navbar-brand" id="header" href="/">eForest</a>
    <div id="allRight">
  </nav>

  <div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Class Name </th>
      <th scope="col">Room Name </th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>

</form>
</body>
</html>
