<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
#login{
  text-decoration:none;
  color:white;
  /*padding-left: 10px;*/
}
#nav{
  padding-right: 50px;
}
#allRight{
  padding-top: 10px;
}
#h3{
  color: black;
}
#dropdown{
  padding-right: 20px;
}
p{
  padding-left: 100px;
  padding-right: 100px;
}
</style>
<head>
	<title>Upload</title>
</head>
<body>
  <nav class="navbar navbar-inverse bg-inverse" id="nav">
    <a class="navbar-brand" id="header" href="/">eForest</a>
    <div id="allRight">
    <ul class="nav navbar-nav navbar-right" id="login" >
      <button class="btn btn-danger"><a href="/identity/logout" id="login">Log Out</a></button>
    </ul>
  </nav>

  <div class="container">
		<center> <h2>File upload successful</h2> </center>
	</div>

  <div class="container">
    <center><form method=POST action="{{ url_for('analyze') }}">
		<input type="submit" value="Assign Rooms" name="Assign Rooms">
  </form></center>
	</div>

</form>
</body>
</html>
